/*--Main Colors--

bluegreen-ish = rgb(128, 188, 189)
green-ish = rgb(170, 217, 187)
yellowgreen-ish = rgb(213, 240, 193)
yellow-ish = rgb(249, 247, 201)
*/


/*--Global--*/
* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: rgb(128, 188, 189);
    height: 100%;
  }

#whole-body{
    background-color: rgb(249, 247, 201);
    border-radius: 25%;
    display: block;
    margin: 0 auto;
    width: 75%;
    padding: 0px 15px 15px;
}

header h1{
    text-align: center;
    color: black;
    padding: 20px;
    font-size: 2rem;
}

.input_div{
    display: block;
    text-align: center;
    padding: 10px 20px;
}

#input{
    display: inline-block;
    text-align: center;
    background-color: rgb(213, 240, 193, 100%);
    border: none;
    margin: 0 auto;
    padding: 5px auto;
    width: 90%;
    font-size: 1.25rem;
}

#input:hover{
    background-color: rgb(170, 217, 187);
}

#input:focus{
    background-color: rgb(170, 217, 187);
    outline-color: green;
}

#addButton{
    border: none;
    background-color: rgb(249, 247, 201);
    font-size: 1.25rem;
}

#addButton:hover{
    background-color: rgb(170, 217, 187);
    cursor: pointer;
}

#item-list {
    list-style-type: none;
    color: black;
    margin: 0px auto;
    padding-left: 0px;
    padding-bottom: 15px;
    width: 90%;
}

#item-list li{
    display: block;
    background-color: rgb(234, 232, 188);
    margin: 10px auto;
    padding: 20px auto;
    font-size: 1.3rem;
    width: 100%;
}

.check-box{
    font-size: 1.25rem;
    margin-right: 10px;
}

.check-box:hover{
    cursor: pointer;
}

.close-button{
    float: right;
    background-color:  rgb(249, 247, 201);
    border: none;
    font-size: 1.25rem;
}

.close-button:hover{
    color: red;
    cursor: pointer;
}